[submodule "dot/.fzf"]
	path = symlinks/.fzf
	url = https://github.com/junegunn/fzf.git
[submodule "dot/.oh-my-zsh"]
	path = dot/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "dot/.config/nvim"]
	path = dot/.config/nvim
	url = git@github.com:longvox/My-Lazyvim.git
